body {
  height: 100%;
  margin: 0;
  overflow-x: hidden; /* Impede rolagem horizontal */
}

.teste {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 30px;
}

.formulario{
  width: 500px;
  height: 230px;
}

.containner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  margin-top: 80px;
  width: 100%;
  padding: 20px;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #430fbb;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #45a049;
}