.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
  
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
  
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.teste {
  width: 350px;
  height: 30px;
}

.containner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh; /* Assegura que o contêiner ocupe toda a altura da tela */
}

main {
  margin-top: 100px;
  width: 100%;
  max-width: 800px; /* Limita a largura do conteúdo */
  padding: 20px;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 200px;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #45a049;
}